<%- include('../_includes/head') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>


<div class="dashboard-page">
    <%- include('../_includes/dashboardNavMini') %>

    <div class="dashboard">
        <div class="search-section">
            <div class="container-fluid deshheader">
               <%- include('../_includes/dashboardNav') %>
            </div>
            <div class="col-12">
    <div class="row d-flex">
        <div class="col-md-6">
          <h3 class="mrtp30">World Cloud</h3>
          <div class="card withheading">
              <img class="img-fluid" id="wc" src=<%=path[0]%> alt="wordcloud">
          </div>
        </div>
        <div class="col-md-6">
            <h3 class="mrtp30">Associated Hashtage</h3>
            <div class="card withheading">
                <img class="img-fluid" id="rh" src=<%=path[1]%> alt="Related Hashtags">
            </div>
          </div>
      </div>
  </div>
  </div>
</div>
<%- include('../_includes/noFooter') %>