<%- include('../_includes/head') %>

<div class="dashboard-page">
    <%- include('../_includes/dashboardNavMini') %>
 
  <div class="dashboard">
    <div class="search-section">
      <div class="container-fluid deshheader">
          <%- include('../_includes/dashboardNav') %>
          <div class="col-12">
            <h3>Influences</h3>
            <div class="card withheading">
                <div class="dtablebox">
                    <table id="example" class="display nowrap cell-border" style="width:100%">
                      <thead>
                        <tr>
                          <th>User Name</th>
                          <th>Followers</th>
                          <th>Location</th>
                          <th>Information</th>
                        </tr>
                      </thead>
                      <tbody>
                          <% for(let i=0; i< usr_array.length; i++){ %>
                        <tr>
                          <td><%= usr_array[i].user_name %></td>
                          <td><%= usr_array[i].followers_count %></td>
                          <td><%= usr_array[i].location %></td>
                          <td>
                          <a data-id=<%=i%> class="viewModel opendialoge" >View</a>
                        </td> 
                        <% } %> 
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
            </div>
            </div>
  </div>
</div>

<div class="container" id="modelContainer"></div>

<!--  posts model template-->
<template id="postTableTemplate">
  <tr>
      <td>Posts</td>
      <td>%%post_title%%</td>
  </tr>

<tr>
  <td>Date</td>
  <td>%%post_date%%</td>
</tr>
<tr>
  <td>Engagements</td>
  <td>%%post_engagement%%</td>
</tr>
<tr>
  <td>View Post</td>
  <td><a href="%%post_link%%">View</a></td>
</tr>

</template>


<!--  posts model template-->
 <template id="customModel" >
  <div class="customviewmodel open"></div>
<div class="contentarea open modal-body" >
  <p><a href="javascript:void(0);" class="closedialoge">&times;</a></p>
  <table id="example1" style="width:100%; font-size: 15px;">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>User Profile Image</td>
            <td><img src="%%profile_image_url%%"></td>
        </tr>
      
      <tr>
        <td>User Name</td>
        <td>%%user_name%%</td>
      </tr>
      <tr>
        <td>View Profile</td>
        <td><a target="blank" href ="https://twitter.com/%%screen_name%%">View</a></td>
      </tr>
      <tr>
          <td>Bio</td>
          <td>%%description%%</td>
        </tr>
        <tr>
            <td>Posts</td>
            <td>%%total_posts%%</td>
          </tr>
            
          <tr>
              <td>Avg Eng</td>
              <td>%%avg_eng%%</td>
            </tr>
            <tr>
                <td>Followers</td>
                <td>%%followers_count%%</td>
              </tr>
              <tr>
                  <td>Impressions</td>
                  <td>%%followers_count%%</td>
                </tr>                  
    </tbody>
  </table>

              <table style="width:100%; font-size: 15px;">
                  <thead>
                    <tr>
                      <th colspan="2">Posts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>%%post_table%%</td></tr>
                 
                  
                  </tbody>
                  </table>

</div>
                            
 </template>   


<div class="dash-footer">
  <p class="dash-copyright">
      <script>
          var d = new Date();
          var dy = d.getFullYear();
          document.write(dy);
      </script> Social Analysis. All Rights Reserved.
  </p>
</div>
<script>

   let influencersData = <%- JSON.stringify(influencersData) %>

$(document).ready(function() {  

  $(".viewModel").click(function(e){
    let id= $(this).data('id');
    let modelData = influencersData[id];

    var postTableTemplateString = $("#postTableTemplate").html();
    var postsString = "";
    for(let j=0; j<modelData.posts.length; j++ ){
      var thisString = postTableTemplateString;
     thisString=  thisString.replace("%%post_title%%",modelData.posts[j].text).replace("%%post_date%%",modelData.posts[j].date).replace("%%post_engagement%%",modelData.posts[j].engagement).replace("%%post_link%%",modelData.posts[j].url);
      postsString  = postsString+ thisString;
    }

    var modelContent = $("#customModel").html();

    // replacing string with data
    modelContent = modelContent.replace("%%profile_image_url%%", modelData.profile_image_url).replace("%%user_name%%", modelData.user_name).replace("%%total_posts%%", modelData.posts.length).replace("%%screen_name%%", modelData.screen_name).replace("%%description%%", modelData.description).replace("%%total_posts%%", modelData.total_posts).replace("%%avg_eng%%", ( modelData.totalEngagement / modelData.posts.length)).replace("%%followers_count%%", modelData.followers_count).replace("%%followers_count%%", modelData.followers_count);

// console.log(modelContent)
    modelContent = modelContent.replace("<tr><td>%%post_table%%</td></tr>", postsString);
// console.log(modelContent)



    $("#modelContainer").html(modelContent);
});


    $('#example').DataTable( {  
      "scrollX": true,
      "order":[[1,"desc"]],
      "bLengthChange": false,
        initComplete: function () {  
            this.api().columns().every( function () {  
                var column = this;  
                var select = $('<select><option value=""></option></select>')  
                    .appendTo( $(column.footer()).empty() )  
                    .on( 'change', function () {  
                        var val = $.fn.dataTable.util.escapeRegex(  
                            $(this).val()  
                        );  
                //to select and search from grid  
                        column  
                            .search( val ? '^'+val+'$' : '', true, false )  
                            .draw();  
                    } );  
   
                column.data().unique().sort().each( function ( d, j ) {  
                    select.append( '<option value="'+d+'">'+d+'</option>' )  
                } );  
            } );  
        }  
    } );  
} );
</script> 

<%- include('../_includes/noFooter') %>