<%- include('../_includes/head') %>



<div class="dashboard-page">
    <%- include('../_includes/dashboardNavMini') %>
 
  <div class="dashboard">
    <div class="search-section">
      <div class="container-fluid deshheader">
          <%- include('../_includes/dashboardNav') %>
          <div class="col-12">
            <h3>Posts</h3>
            <input type="text" id="search-tweet" placeholder="Search Captions">
                  <input type="text" id="search-User" placeholder="Search Users">
                  
              <div class="card withheading">
                  
                <div class="dtablebox">
                    
                    <table id="example" class="display nowrap cell-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Photo</th>
                                <th>Caption</th>
                                <th>User</th>
                                <th>Likes</th>
                                <th>Sentiment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% posts.forEach(elem => {%>
                             <tr>
                                <td> <%= elem.date; %> </td>
                                <td><img src=<%= elem.display_url%> width="48" height="48" ></td>
                                <td style="word-break: break-all;"><a target="_blank" href="<%=elem.url%>"><%= elem.text %></a> </td>
                                <td><a target="_blank" href="<%=elem.profile_link%>"><%= elem.screen_name %> </a> </td>
                                <td> <%= elem.likes_count %> </td>
                                <td><% if(elem.score>0){%>Postive<%}
                                    else if(elem.score==0){%>Neutral<%}
                                    else{%>Negative<%}%></td>
                            </tr>
                             
                        
                        <% }) %>
                      </tbody>
                </table>
                
              </div>
            </div>
            </div>
  </div>
</div>
  </div>

<div class="dash-footer">
  <p class="dash-copyright">
      <script>
          var d = new Date();
          var dy = d.getFullYear();
          document.write(dy);
      </script> Social Analysis. All Rights Reserved.
  </p>
</div>
</div>
<script>
  $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#search-tweet').on('keyup', function(){
    
    table
    .column(2)
    .search(this.value)
    .draw();

  });
  $('#search-User').on('keyup', function(){
    
    table
    .column(3)
    .search(this.value)
    .draw();

  });
  
    var table = $('#example').DataTable( {
        orderCellsTop: true,
        bSort: true,
        fixedHeader: true,
        order: [[ 4, "desc" ]],
        //searching: false
        responsive: true,
    initComplete: function () {
        this.api().columns(5).every( function () {
        var column = this;
        $('#dataTables-example .head .head_hide').html('');

        var select = $('<select id="formfilter" class="filterdropdown"><option value="">'+$(column.header()).text()+'</option></select>')
            .appendTo( $(column.header()).empty())
            .on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                );
                column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
            });

        column.data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        });
    });
}})
});

</script> 

<%- include('../_includes/noFooter') %>